.firstSection {
  width: 60vh;
  /* object-fit: cover; */
}

.projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
}

.projectImage {
  position: relative;
  /* width: 300px;
  height: 300px; */
}

.projectImages {
  width: 300px;
}
.projectName {
  padding: 0.6em;
  position: absolute;
  color: white;
  background-color: black;
  top: 0px;
  left: 0px;
  width: 10em;
}

.contact {
  border: 1px solid rgb(191, 191, 191);
  width: 90%;
  border-radius: 0.3em;
  padding: 00.6em;
  margin: 0.6em;
}
